.banner {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.crest {
  width: 200px;
  height: auto;
  margin: 0 0 20px;
}

.bannerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rightContainer {
  width: 50%;
  overflow: visible;
}

.bannerBackgroundNetwork {
  position: absolute;
  left: 40%;
  top: 5px;
  width: auto;
  height: 1000px;
  z-index: -10;
}

.leftContainer h1 {
  margin-bottom: 30px;
}

.bannerContent p {
  width: 40%;
  margin: auto;
}