.carouselContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 40px 0 100px;
  text-align: center;
}

.carouselContainer h3 {
  font-size: 36px;
  margin: 0 auto 30px;
  padding: 15px 40px;
  width: max-content;
  border: 3px solid var(--tileHover);
  border-radius: 10px;
  background-color: var(--tileDark);
}

.carouselTrack {
  display: flex;
  width: max-content;
  gap: 35px;
  animation: scroll-left 50s linear infinite;
}

.carouselOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #000000 0%, #00000000 15%, #00000000 85%, #000000 100%);
  z-index: 10;
}

.skill {
  width: 200px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  font-size: 25px;
  text-align: center;
  background-color: var(--tileBackground);
  border: 3px solid var(--tileHover);
  padding: 20px 0;
  border-radius: 10px;
  pointer-events: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}