.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 20px 0 200px;
  overflow: visible;
  position: relative;
}

.backgroundGlobe {
  position: absolute;
  left: 40%;
  top: 0; /*initializing at top*/
  width: auto;
  height: 150vh;
  max-height: 1200px;
  min-height: 800px;
  z-index: -10;
}

.backgroundMoon {
  position: absolute;
  top: 520px;
  left: -15%;
  z-index: -10;
}

.backgroundSun {
  position: fixed;
  top: -60px;
  left: -65px;
  z-index: -15;
}

@media screen and (min-width: 1700px) {
  .backgroundSun {
    left: auto;
    right: 80vw;
  }
}

@media screen and (max-width: 660px) {
  .backgroundMoon {
    left: -45%;
  }
}