.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto 40px;
}

.bannerBackgroundNetwork {
  position: absolute;
  left: 38%;
  top: 0; /*initializing at top*/
  width: auto;
  height: 150vh;
  max-height: 1200px;
  min-height: 800px;
  z-index: -10;
}