.heading,
.prev,
.next {
  display: flex;
  align-items: center;
  text-align: center;
  width: max-content;
  margin: 60px auto;
  background-color: var(--tileDark);
  border: 3px solid var(--tileHover);
  border-radius: 10px;
}

.heading {
  font-size: 48px;
  padding: 20px 40px;
}

.prev,
.next {
  font-size: 24px;
  padding: 15px 30px;
  height: max-content;
  transition: all 0.3s;
}

.projectNav {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.description {
  background-color: var(--tileBackground);
  padding: 50px 60px;
  border-radius: 20px;
  border: 3px solid var(--tileHover);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.button {
  width: max-content;
  margin: 0 auto 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid var(--highlightedText);
  transition: all 0.3s;
}

.button:hover,
.prev:hover,
.next:hover {
  border: 3px solid var(--highlightedTextHover);
}

.link {
  color: var(--highlightedText);
  transition: all 0.3s;
}

.link:hover {
  color: var(--highlightedTextHover);
}

@media screen and (max-width: 700px) {
  .projectNav {
    position: relative;
    padding-bottom: 60px;
  }
  .heading {
    font-size: 36px;
  }
  .prev {
    position: absolute;
    bottom: -30px;
    left: 20px;
    font-size: 20px;
  }
  .next {
    position: absolute;
    bottom: -30px;
    right: 20px;
    font-size: 20px;
  }
}