.slider {
  width: 620px;
  aspect-ratio: 3 / 2;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background-color: var(--tileBackground);
  border: 3px solid var(--tileHover);
  transition: all 0.3s;
  animation: fadeIn 1s linear;
}

.linkBlock {
  display: block;
  width: max-content;
  position: relative;
  overflow-x: clip;
}

.projectsHeading {
  font-size: 36px;
  margin-top: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider:hover {
  background-color: var(--tileHover);
}

.slidesContainer {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
  border-radius: 10px;
}

.slide,
.linkBlock {
  min-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0 20px;
}

.rocket1,
.rocket2,
.rocket3,
.animate1,
.animate2,
.animate3 {
  position: absolute;
  z-index: -10;
}

.rocket1 {
  height: 180%;
  top: 5%;
  left: -62%;
}

.rocket2 {
  height: 70%;
  top: 70%;
  left: -28%;
}

.rocket3 {
  height: 120%;
  top: 30%;
  left: 18%;
}

.animate1 {
  animation: takeoff1 1s ease-in-out forwards;
  height: 180%;
  top: 5%;
  left: -62%;
}

.animate2 {
  animation: takeoff2 1s ease-in-out forwards;
  height: 70%;
  top: 70%;
  left: -28%;
}

.animate3 {
  animation: takeoff3 1s ease-in-out forwards;
  height: 120%;
  top: 30%;
  left: 18%;
}

@keyframes takeoff1 {
  from {
    transform: translate(-225px, 300px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes takeoff2 {
  from {
    transform: translate(-80px, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes takeoff3 {
  from {
    transform: translate(-125px, 200px);
  }
  to {
    transform: translate(0, 0);
  }
}

.slide h3 {
  font-size: 32px;
  margin-bottom: 30px;
  color: var(--highlightedText);
}

.slide p {
  width: 50%;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  position: relative;
  z-index: 10;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #272733ff;
  border: 1px solid #00FFD9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: all 0.4s;
}

.dotActive {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  background-color: #00FFD9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: all 0.4s;
}

@media screen and (max-width: 1200px) {
  .slider {
    width: 550px;
  }
  .slide,
  .linkBlock {
    height: 250px;
  }
  .rocket3 {
    height: 120%;
    top: 35%;
    left: 15%;
  }
  .animate3 {
    animation: takeoff3 1s ease-in-out forwards;
    height: 120%;
    top: 35%;
    left: 15%;
  }
}

@media screen and (max-width: 660px) {
  .slider {
    width: 400px;
  }
  .slide,
  .linkBlock {
    height: 150px;
  }
  .projectsHeading {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .slide h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .slide p {
    width: 90%;
    font-size: 14px;
  }
  .rocket1 {
    height: 220%;
    top: 3%;
    left: -95%;
  }
  .rocket2 {
    height: 100%;
    top: 70%;
    left: -60%;
  }
  .rocket3 {
    height: 120%;
    top: 45%;
    left: -8%;
  }
  .animate1 {
    height: 220%;
    top: 3%;
    left: -95%;
  }
  .animate2 {
    height: 100%;
    top: 70%;
    left: -60%;
  }
  .animate3 {
    height: 120%;
    top: 45%;
    left: -8%;
  }
}